extends layout

block content
  h1= title
  p Welcome to #{title}
  p another line of message
  div division 1
  div division 
    button button
    span first span
    br
    //- 끝나는 태그 없는 br도 정상적으로 적용
    span second span